<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>Volcanoes Activity</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    
    <link rel="stylesheet" type="text/css" href="../static/css/text_c.css">
</head>
<body>
    <!--<section class="header">-->
       
        <div class="container"> 
            <div class="header">
                <h1>Exploring Volcanic Activity Across the Globe</h1>
                <p><h3>Use the interactive charts below to explore the dataset</h3></p>
            </div>
            <div class="image-container">
                <img src="http://127.0.0.1:5000/image" class="background-image">
                <div class="passage";>
                    <p style='margin-top: 2%'><b>The Global Volcano project</b>,<br style='margin-top: 3px;'> a product of the Smithsonian Institution, dedicates itself to “document, disseminate, and understand” volcanic activity around the world. Over the years, they have compiled and maintained a list of all documented activities within a database. 
                        The dataset contains over 1300 volcanoes with properties that include
                        geographical location, primary volcano type, last known eruption time, elevation, dominant rock type, and tectonic setting.
                    </p>
                </div>
            </div>
            <div id='map' ></div>
            <div id = 'donutchart' style="width: 800px; height: 600px; grid-column: 3 / 5; grid-row: 2;"></div>
            <div id = "pie"><h2></h2></div>
            <div id='plot'><h2></h2></div>
        </div>
    <!--</section>-->
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript' src="../static/js/map_icon.js"></script>
    <script type='text/javascript' src="../static/js/bar_bold.js"></script>
	<script type='text/javascript' src="../static/js/doughnut3.js"></script>
    <script type='text/javascript' src="../static/js/pie_bolds.js"></script>
</body>
</html>